# Node
node_modules/
dist/

# Env
.env
.env.*

# Prisma
prisma/dev.db
prisma/*.db

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Pluggins
apps/mobile/linux/flutter/generated_plugins.cmake
apps/mobile/windows/flutter/generated_plugins.cmake
apps/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
../../apps/mobile/macos/Flutter/GeneratedPluginRegistrant.swift